@using System.Globalization
@inject NavigationManager Nav

<div class="event-card" @onclick="() => Nav.NavigateTo($"/eventdetails/{Event.Name}")">
    <h3>@Event.Name</h3>
    <p>@Event.Date.ToString("D", CultureInfo.CurrentCulture) — @Event.Location</p>
</div>

@code {
    [Parameter]
    public EventModel Event { get; set; }
}
